<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link th:href="@{/css/styling.css}" rel="stylesheet">

    <script type = "text/javascript" th:src="@{/js/userList.js}"></script>

    <title>AddUser</title>
  </head>
<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>
</br>
<div class = "container">
	<div class = "row">
		<h3>UserList</h3>
	</div>
	<div class = "row">
		<div>
			<form>
			<table>
			  <tr>
				<td>RoleType: </td>
				<td>
					<select class="roleType">
						<option value = "ALL">All</option>
		                <option value = "MECHANIC">Mechanic</option>
		                <option value = "ADMIN">Admin</option>
			        </select>
			    </td>
			  </tr>  
			  <tr>  
				<td colspan="2"><input type="submit" id='button' value="Retrieve" /></td>
			  </tr>
			</table>
			</form>
		</div>
	</div>	
	<div class = "row py-2">	
		<form action="" th:action="@{/user/delete}" method="post">
			<table id="result" class="table">
			</table>
		</form>
	</div>
</div>
<div th:replace="layout/layout.html :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>